@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Riot API App</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Summoner Lookup</h2>
        <p>
            Summoner Lookup is an app that will allow you to view results and analysis of recent League of Legends matches
        </p>
    </div>
    <div class="col-md-4">

    </div>
</div>
